[mysqld]
general_log = 1
general_log_file = /var/log/mysql/mysql.log
log_error = /var/log/mysql/mysql_error.log
default_time_zone='America/Lima'
max_allowed_packet = 16M
skip-host-cache
skip-name-resolve
datadir = /var/lib/mysql
!includedir /etc/mysql/conf.d/
collation-server               = utf8_general_ci
loose-default-character-set    = utf8
character-set-server           = utf8
character_set_filesystem       = utf8
init-connect                   = 'SET NAMES utf8'
lower_case_table_names         = 1
default_authentication_plugin  = mysql_native_password

innodb_buffer_pool_size         = 128M
innodb_log_buffer_size          = 8M
innodb_log_file_size            = 64M
innodb_write_io_threads         = 4
innodb_flush_log_at_trx_commit  = 0
max_allowed_packet              = 1G

sql_mode=NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION

[mysqldump]
user=root
password=123456
